In [ ]:
# Загрузка необходимых библиотек
# для работы с SQL
from sqlalchemy import create_engine, text
# для работы с таблицами
import pandas as pd

In [ ]:
# Создаем движок и подключаемся к базе данных
engine = create_engine("postgresql://praktikum_student:Sdf4%242%3Bd-d30pp@rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net:6432/data-analyst-hhru")

In [ ]:
# Выполняем проверку соединения
with engine.connect() as conn: # гарантирует автоматическое закрытие соединения после выполнения блока (даже при ошибке)
    conn.execute(text("SELECT 1"))
    print("Подключение успешно!")

Подключение успешно!

In [ ]:
# Определим функцию для вывода запроса 
def query_to_df(query, engine):
    with engine.connect() as conn: # гарантируем закрытие соединения после выполнения
        try: # Обработка ошибки
            return pd.read_sql(query, conn)
        except Exception as e: # Вывод ошибки
            print(f'Ошибка SQL-запроса:\n{e}')
            return None

In [ ]:
# Составляем SQL-запрос
query = """
    --sql
    SELECT ROUND(MIN(salary_from)) AS salary_from_min, 
           ROUND(MAX(salary_from)) AS salary_from_max, 
	       ROUND(AVG(salary_from)) AS salary_from_avg,
           PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY salary_from) AS salary_from_med
    FROM public.parcing_table
    WHERE salary_from IS NOT NULL AND salary_from > 1000;
"""

# Выполняем запрос
df = query_to_df(query, engine)
# Выводим результат
df

   salary_from_min  salary_from_max  salary_from_avg  salary_from_med
0          25000.0         398000.0         109841.0          90000.0